 .button {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgb(20, 20, 20);
     border: none;
     font-weight: 600;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
     cursor: pointer;
     transition-duration: .5s;
     overflow: hidden;
     position: relative;
 }

 .svgIcon {
     width: 14px;
     transition-duration: .5s;
 }

 .svgIcon path {
     fill: rgb(255, 90, 90);
 }

 .button:hover {
     width: 70px;
     border-radius: 35px;
     transition-duration: .5s;
     background-color: rgb(255, 65, 65);
     align-items: center;

     .svgIcon path {
         fill: white;
     }
 }

 .button:hover .svgIcon {
     width: 20px;
     transition-duration: .5s;
     transform: translateY(60%);
 }

 .button::before {
     position: absolute;
     top: -30px;
     content: "Delete";
     color: white;
     transition-duration: .5s;
 }

 .button:hover::before {
     font-size: 10px;
     opacity: 1;
     transform: translateY(35px);
     transition-duration: .5s;
 }