 .button {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgb(20, 20, 20);
     border: none;
     font-weight: 600;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
     cursor: pointer;
     transition-duration: .5s;
     overflow: hidden;
     position: relative;
 }

 .svgIcon {
     width: 14px;
     transition-duration: .5s;
 }

 .svgIcon path {
     fill: rgb(255, 90, 90);
 }

 .button:hover {
     width: 60px;
     border-radius: 35px;
     transition-duration: .5s;
     background-color: rgb(255, 65, 65);
     align-items: center;

     .svgIcon path {
         fill: white;
     }
 }

 .button:hover .svgIcon {
     width: 20px;
     transition-duration: .5s;
     transform: translateY(60%);
 }

 .button::before {
     position: absolute;
     top: -30px;
     content: "Delete";
     color: white;
     transition-duration: .5s;
 }

 .button:hover::before {
     font-size: 10px;
     opacity: 1;
     transform: translateY(35px);
     transition-duration: .5s;
 }
/* *************************** */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}

.bin-bottom {
  width: 11px;
  z-index: 2;
}

.bin-top {
  width: 13px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.garbage {
  position: absolute;
  width: 10px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}

@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

 /* ************************* */

.editBtn {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(8px);
}

.editBtn:hover::before {
  transform: scale(1);
}

.editBtn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.editBtn svg {
  height: 13px;
  fill: white;
  z-index: 3;
  transition: all 0.3s;
  transform-origin: bottom;
}

.editBtn:hover svg {
  transform: rotate(-15deg) translateX(4px);
}

.editBtn::after {
  content: "";
  width: 18px;
  height: 1.5px;
  position: absolute;
  bottom: 13px;
  left: -4px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}