.btnMake {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #fde8e8;
}

#clip {
  --color: #c32727;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #8f1b1b;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #c32727;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

.btnMake:hover #rightArrow {
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.btnMake:hover #leftArrow {
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #c32727;
  box-shadow: inset 1px 1px 8px #a21d1d;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

.btnMake:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

.btnMake:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
}

@keyframes changeColor8 {
  from { background-color: #c32727; }
  to { background-color: #c32727; }
}

@keyframes lightEffect8 {
  from { box-shadow: 1px 1px 5px #c32727; }
  to { box-shadow: 0 0 2px #c32727; }
}

@keyframes greenLight8 {
  from {}
  to {
    box-shadow: inset 0px 0px 32px #c32727; 
  }
}

@keyframes leftArrow8 {
  from { transform: translate(0px); }
  to { transform: translateX(10px); }
}

@keyframes rightArrow8 {
  from { transform: translate(0px); }
  to { transform: translateX(-10px); }
}