   .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  background: #250000;
  border-radius: 50%;
  padding: 10px;
}

.swiper-button-prev-custom { left: 10px; }
.swiper-button-next-custom { right: 10px; }

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 30px;
  margin-bottom: 20px;
  width: 100%;
  z-index: 20;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  background: #ddd;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B91C1C;
  transform: scaleX(0);
  transform-origin: left;
  transition: none;
  z-index: 1;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  height: 10px !important;
  background-color: #ddd !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active::before {
  animation: fillBullet 3s linear forwards;
}

@keyframes fillBullet {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

:root {
  --swiper-theme-color: #fff;
}

.autoplay-progress {
  position: absolute;
  right: 50px;
  bottom: 60px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.autoplay-progress svg circle {
  stroke: #ffbbbb;
}

.autoplay-progress span {
  color: #ffbbbb;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
